
.my-goalprogress .stats-caption {
	font-weight: bold;
}

.my-goalprogress.goal-not-started .hide-on-goal-unstarted {
	display: none;
}

.my-goalprogress.goal-ended .hide-on-goal-ended {
	display: none;
}

.my-goalprogress.goal-started .hide-on-goal-started {
	display: none;
}

.my-goalprogress .notice {
	text-align: center;
}

.my-goalprogress.notice-hidden .notice {
	display: none;
} 